<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- config -->
    <type name="MateuszMesek\DocumentDataIndexIndexer\Config">
        <arguments>
            <argument name="data" xsi:type="object">MateuszMesek\DocumentDataIndexIndexer\Config\Data</argument>
        </arguments>
    </type>
    <virtualType name="MateuszMesek\DocumentDataIndexIndexer\Config\Data" type="Magento\Framework\Config\Data">
        <arguments>
            <argument name="reader" xsi:type="object">MateuszMesek\DocumentDataIndexIndexer\Config\Reader</argument>
            <argument name="cacheId" xsi:type="string">document_data_indexer_config_cache</argument>
        </arguments>
    </virtualType>
    <virtualType name="MateuszMesek\DocumentDataIndexIndexer\Config\Reader" type="Magento\Framework\Config\Reader\Filesystem">
        <arguments>
            <argument name="converter" xsi:type="object">MateuszMesek\DocumentDataIndexIndexer\Config\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">MateuszMesek\DocumentDataIndexIndexer\Config\SchemaLocator</argument>
            <argument name="fileName" xsi:type="string">document_data_indexer.xml</argument>
            <argument name="idAttributes" xsi:type="array">
                <item name="/config/document" xsi:type="string">name</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="MateuszMesek\DocumentDataIndexIndexer\Config\Converter">
        <arguments>
            <argument name="documentProcessor" xsi:type="object">MateuszMesek\DocumentDataIndexIndexer\Config\Converter\Document</argument>
        </arguments>
    </type>
    <virtualType name="MateuszMesek\DocumentDataIndexIndexer\Config\SchemaLocator" type="Magento\Framework\Config\GenericSchemaLocator">
        <arguments>
            <argument name="moduleName" xsi:type="string">MateuszMesek_DocumentDataIndexIndexer</argument>
            <argument name="schema" xsi:type="string">document_data_indexer.xsd</argument>
        </arguments>
    </virtualType>
    <!-- indexer -->
    <type name="Magento\Framework\Indexer\Config\Reader">
        <plugin name="MateuszMesek_DocumentDataIndexIndexer" type="MateuszMesek\DocumentDataIndexIndexer\Plugin\InjectIndexers\OnIndexerConfigReader"/>
    </type>
    <type name="MateuszMesek\DocumentDataIndexIndexer\Action\ExecutorFactory">
        <arguments>
            <argument name="types" xsi:type="array">
                <item name="full" xsi:type="string">MateuszMesek\DocumentDataIndexIndexer\Action\Full</item>
                <item name="row" xsi:type="string">MateuszMesek\DocumentDataIndexIndexer\Action\Row</item>
                <item name="rows" xsi:type="string">MateuszMesek\DocumentDataIndexIndexer\Action\Rows</item>
            </argument>
        </arguments>
    </type>
    <type name="MateuszMesek\DocumentDataIndexIndexer\Action\Full">
        <arguments>
            <argument name="dimensionalIndexer" xsi:type="object">MateuszMesek\DocumentDataIndexIndexer\DimensionalIndexer</argument>
        </arguments>
    </type>
    <type name="MateuszMesek\DocumentDataIndexIndexer\Action\Row">
        <arguments>
            <argument name="dimensionalIndexer" xsi:type="object">MateuszMesek\DocumentDataIndexIndexer\DimensionalIndexer</argument>
        </arguments>
    </type>
    <type name="MateuszMesek\DocumentDataIndexIndexer\Action\Rows">
        <arguments>
            <argument name="dimensionalIndexer" xsi:type="object">MateuszMesek\DocumentDataIndexIndexer\DimensionalIndexer</argument>
        </arguments>
    </type>
    <!-- mview -->
    <type name="Magento\Framework\Mview\Config\Reader">
        <plugin name="MateuszMesek_DocumentDataIndexIndexer" type="MateuszMesek\DocumentDataIndexIndexer\Plugin\InjectViews\OnViewConfigReader"/>
    </type>
    <!-- default configuration -->
    <preference for="MateuszMesek\DocumentDataIndexIndexerApi\Command\GetIndexNamesInterface" type="MateuszMesek\DocumentDataIndexIndexer\Command\GetIndexNames"/>
    <type name="MateuszMesek\DocumentDataIndexIndexer\Dimension\Factory">
        <arguments>
            <argument name="factories" xsi:type="array">
                <item name="node-paths" xsi:type="object">MateuszMesek\DocumentDataIndexIndexer\Dimension\NodePathsFactory</item>
            </argument>
        </arguments>
    </type>
    <preference for="MateuszMesek\DocumentDataIndexIndexerApi\DataResolverInterface" type="MateuszMesek\DocumentDataIndexIndexer\DataResolver"/>
    <type name="MateuszMesek\DocumentDataIndexIndexer\DataResolver">
        <arguments>
            <argument name="documentNameResolver" xsi:type="object">MateuszMesek\DocumentDataIndexIndexer\DimensionResolver\DocumentNameResolver</argument>
        </arguments>
    </type>
    <type name="MateuszMesek\DocumentDataIndexIndexer\DataResolverFactory">
        <arguments>
            <argument name="config" xsi:type="object">MateuszMesek\DocumentDataIndexIndexer\Config</argument>
        </arguments>
    </type>
    <type name="MateuszMesek\DocumentDataIndexIndexer\DimensionProviderFactory">
        <arguments>
            <argument name="config" xsi:type="object">MateuszMesek\DocumentDataIndexIndexer\Config</argument>
        </arguments>
    </type>
    <preference for="MateuszMesek\DocumentDataIndexIndexerApi\EntityIdsResolverInterface" type="MateuszMesek\DocumentDataIndexIndexer\EntityIdsResolver"/>
    <type name="MateuszMesek\DocumentDataIndexIndexer\EntityIdsResolver">
        <arguments>
            <argument name="documentNameResolver" xsi:type="object">MateuszMesek\DocumentDataIndexIndexer\DimensionResolver\DocumentNameResolver</argument>
        </arguments>
    </type>
    <type name="MateuszMesek\DocumentDataIndexIndexer\EntityIdsResolverFactory">
        <arguments>
            <argument name="config" xsi:type="object">MateuszMesek\DocumentDataIndexIndexer\Config</argument>
        </arguments>
    </type>
    <preference for="MateuszMesek\DocumentDataIndexIndexerApi\IndexNameResolverInterface" type="MateuszMesek\DocumentDataIndexIndexer\IndexNameResolver"/>
    <type name="MateuszMesek\DocumentDataIndexIndexer\IndexNameResolver">
        <arguments>
            <argument name="documentNameResolver" xsi:type="object">MateuszMesek\DocumentDataIndexIndexer\DimensionResolver\DocumentNameResolver</argument>
        </arguments>
    </type>
    <type name="MateuszMesek\DocumentDataIndexIndexer\IndexNameResolverFactory">
        <arguments>
            <argument name="config" xsi:type="object">MateuszMesek\DocumentDataIndexIndexer\Config</argument>
        </arguments>
    </type>
    <preference for="MateuszMesek\DocumentDataIndexIndexerApi\SaveHandlerInterface" type="MateuszMesek\DocumentDataIndexIndexer\SaveHandler"/>
    <type name="MateuszMesek\DocumentDataIndexIndexer\SaveHandler">
        <arguments>
            <argument name="documentNameResolver" xsi:type="object">MateuszMesek\DocumentDataIndexIndexer\DimensionResolver\DocumentNameResolver</argument>
        </arguments>
    </type>
    <type name="MateuszMesek\DocumentDataIndexIndexer\SaveHandlerFactory">
        <arguments>
            <argument name="config" xsi:type="object">MateuszMesek\DocumentDataIndexIndexer\Config</argument>
        </arguments>
    </type>
</config>
